.App {
    /* background-color: black; */
    max-width: 40rem;
    margin: 0 auto;
}

.App header {
    /* position: relative; */
}

.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.headerTop input:checked+.slider {
    background-color: #2196F3;
}

.headerTop input:hover+.slider {
    /* box-shadow: 0 0 1px #2196F3; */
    background-color: #8fabc9e1;
}

.headerTop input:focus+.slider {
    /* box-shadow: 0 0 1px #2196F3; */
    outline: 2px solid black;
}

.headerTop input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

header > form {
    /* position: relative; */
    position: -webkit-sticky; /* Safari */
    position: relative;
    top: 0;
    top: 0rem;
    margin-bottom: 4rem;
}

header> form input:hover {
    background-color: #a0b4ca85;
}

header > form label {
    position: absolute;
    right: 300rem;
}

header > form input {
    width: 100%;
    padding: 1rem 1rem 1rem 19%;
    border-radius: 50px;
    border: none;
    background-color: #f5f5f5;
    /* border: 1px solid black; */;
    font-size: 1.2rem;
    /* background-color: rgba(233, 222, 222, 0.322); */

}

header > form button, .App footer button {
    position: absolute;
    /* left: 3%; */
    
    background-color: transparent;
    border: none;
}

header > form button:active, .App footer button:active {
    transform: scale(0.8);
}

/* header > form button:hover, .App footer button:hover {
    transition: transform 100ms ease-in-out;
    transform: rotate(15deg);
} */

header > form button[type="submit"] {
    /* left: 100%; */
    left: 5%;
    /* top: 0.9rem; */
    top: 50%;
    transform: translateY(-50%);
}

header > form .exitsearch {
    right: 5%;
    top: 1.1rem;
}

header > form button img, .App footer button img {
    width: 1.6rem;
    height: auto;
}

.App main {}

.App footer {
    position: fixed;
    bottom: 1.5rem;
    width: calc(100% - 3rem);
    max-width: 40rem;
    padding: 1rem 17% 1rem 1.5rem;
    /* width: 100%; */
    border-radius: 2rem;
    background-color: #f5f5f5;
    box-shadow: 1px 1.9rem 6rem rgb(71, 71, 71);
}

@media (min-width: 64rem) {
    .App footer:hover {
        background-color: #a0b4ca85;
    }
}

.App footer textarea {
    width: 100%;
    height: 1.3rem;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    transition: height 0.3s ease-in-out;
    white-space: wrap;
    resize: none;
    overflow: hidden;
}

.App footer button {
    /* left: 100%; */
    right: 5%;
    bottom: 0.9rem;
}

.App footer button img {
    
}